
/*Trainee Card  */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 5px;
  }
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.trainee-details-container {
    padding: 2px 16px;
    text-align: center;
}
.trainee-details-container a{
    text-decoration: none;
}
  /* Image Styling */
  .profile-image-container{
    width: 100%;
  }
  .profile-image{
    width: 100%;
  }
  
  @media only screen and (max-width: 600px){
    .project-container{
        flex-direction: column;
        margin: auto;
    }
    .card{
        margin-left: 50px;
        margin-top: 25px;
        margin-bottom: 25px;
        width:80%;
    }
  }